.dashBoard{
    margin-top: 60px;
}

.link-nav a{
    text-align: center;
    display: flex;
    margin-left: 20px;
    justify-content: flex-end;
    color: white;
    text-decoration: none;
}

.link-nav{
    text-align: center;
    
    color: white;
    text-decoration: none;
}