.quantity-number-v2{
    margin: 50px;
    #prodQuantity{
      width: 60px;
      height: 30px;
      border: 1px solid #222;
    }
    i{
      padding: 6.8px 10px;
      border: 1px solid #222;
    }
  }