.bg-grey {
  background: #000428;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: white;

}
.logo-footer {
}
footer {
      color: rgb(255, 255, 255);
}
footer h6 {
position: relative;
}
footer h6:after {
position: absolute;
content: "";
width: 12%;
height: 1px;
left: 0;
}
.btn-footer {
           color: rgb(248, 245, 245);
        
          text-decoration: none;
          border: 1px solid;
          border-radius: 43px;
          font-size: 19px;
          padding: 7px 30px;
          line-height: 47px;
}
.btn-footer:hover {
          
          text-decoration: none;
         
}
.form-footer input[type="text"] {
  border: none;
border-radius: 16px 0 0 16px;
outline: none;
padding-left: 10px;

}
::placeholder {
font-size: 19px;
padding-left: 10px;

}
.form-footer input[type="button"] {
border: none;
background:#232323;
  margin-left: -5px;
color: #fff;
outline: none;
border-radius: 0 16px 16px 0;
padding: 2px 12px;
}
.social .fa {
color: rgb(247, 241, 241);
font-size: 22px;
padding: 10px 15px;
}
footer ul li {
list-style: none;
display: block;
}
footer ul  {
padding-left: 0;
}
footer ul  li a{
text-decoration: none;
color: rgb(248, 247, 247);
text-decoration:none;
}