.half-info{
    margin-bottom: 40px;
    background-color: brown;
    color: white;
}
.half-info h2 , p{
    margin-left: 20px;
}
.half-info h2{
    margin-top: 7px;
}
.service-image img{
    /* margin-top: 48px; */
    width: 540px;
    height: 375px;
    background-color: brown;
}

.banner{
    display: flex;
    width: 100%;
    margin-bottom: 40px;
}