.half-info{
    margin-left: 30px;
    margin-top: 50px;
}

.service-image img{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 580px;
    height: 381;
}

.banner{
    width: 100%;
    margin-bottom: 120px;
}